apiVersion: v1
kind: Service
metadata:
  name: {{ include "fullstack-app.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    {{- include "fullstack-app.selectorLabels" . | nindent 4 }}
