version: '3.8'

services:
  web:
    image: ghcr.io/${GITHUB_REPOSITORY}:latest
    ports:
      - "80:3000"
    restart: always
    environment:
      - NODE_ENV=production
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/health" ]
      interval: 1m
      timeout: 10s
      retries: 3
