apiVersion: v1
kind: Namespace
metadata:
  name: workshop-k8s
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: workshop-quota
  namespace: workshop-k8s
spec:
  hard:
    pods: "20"
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "10"
    limits.memory: 16Gi
